<?xml version="1.0" encoding="UTF-8"?><module xmlns="http://www.netwitness.com/rta/1.0">	<id>esa000088</id>	<name ref="$module_name"/>	<desc ref="$module_desc"/>	<type>ootb</type>	<severity>7</severity>	<enabled>false</enabled>	<last_modified>1422986889</last_modified>	<revision>3</revision>	<variables>		<variable id="time_window">			<name ref="$time_window_name"/>			<desc ref="$time_window_desc"/>			<value type="int">300</value>		</variable>		<variable id="tcp_dstport_list" is_array="true">			<name ref="$tcp_dstport_list_name"/>			<desc ref="$tcp_dstport_list_desc"/>			<value type="int">443</value>			<value type="int">465</value>			<value type="int">995</value>			<value type="int">636</value>			<value type="int">990</value>			<value type="int">22</value>			<value type="int">1701</value>			<value type="int">1723</value>		</variable>	</variables></module>