<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://www.netwitness.com/rta/1.0">
 <id>esa000048</id>
 <name ref="$module_name"/>
 <desc ref="$module_desc"/>
 <type>ootb</type>
 <severity>5</severity>
 <enabled>false</enabled>
 <last_modified>1382426335</last_modified>
 <revision>3</revision>
 
 <variables>
	  <variable id="time_window">
		   <name ref="$time_window_name"/>
		   <desc ref="$time_window_desc"/>
		   <value type="int">60</value>
	  </variable>
	  <variable id="alert_count">
		   <name ref="$alert_count_name"/>
		   <desc ref="$alert_count_desc"/>
		   <value type="int">50</value>
	  </variable>
 </variables>
 
</module>
